<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="vi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NhacCuaNgan - Nghe nhạc mới HOT nhất, tải nhạc MP3 chất lượng cao</title>
    <link rel="icon" type="image/png" href="images/favicon_64x64.png" />
    <meta name="keyworks"
          content="nhac, mp3, nghe nhac, nhac cua tui, nct, nhac vang, nhac tre, nhaccuatui, nhac tru tinh, nhac xuan, remix, karaoke, nghe nhac online, edm, bolero, tai nhac, upload nhac, trance, house, loi bai hat, lossless" />
    <meta name="description"
          content="Trải nghiệm hàng triệu bài hát và MV có bản quyền chất lượng cao tại kho nhạc NhacCuaTui. Cùng nghe và tải nhạc online miễn phí trên nhiều nền tảng." />
    <meta name="author" content="NhacCuaTui - Nghe nhạc mới HOT nhất, tải nhạc MP3 chất lượng cao" />
    <meta property="og:description"
          content="Trải nghiệm hàng triệu bài hát và MV có bản quyền chất lượng cao tại kho nhạc NhacCuaTui. Cùng nghe và tải nhạc online miễn phí trên nhiều nền tảng." />
    <meta property="og:title" content="NhacCuaTui - Nghe tải nhạc MP3 - Lossless cực chất" />
    <meta property="og:image" content="https://stc-id.nixcdn.com/v11/images/logo_600x600.png" />
    <meta name="thumbnail" content="https://stc-id.nixcdn.com/v11/images/logo_600x600.png" />
    <link rel="stylesheet" href="library/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="container">
        <div id="header">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="#"><a href="#">Home</a></li>
                            <li><a href="#">Bài Hát</a></li>
                            <li><a href="#">Playlist</a></li>
                            <li><a href="#">Tuyển Tập</a></li>
                            <li><a href="#">BXH</a></li>
                            <li><a href="#">Top 100</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="width: 100%;">
                    <div class="item active">
                        <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2023/11/09/a/3/9/b/1699500989172_org.jpg"
                             width="100%" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/04/18/d/e/e/8/1713444117873_org.jpg"
                             width="100%" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/04/22/e/4/9/f/1713767863144_org.jpg"
                             width="100%" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2024/04/19/6/b/9/4/1713523541363_org.jpg"
                             width="100%" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>

        @RenderBody()

        <div class="panel panel-danger">
            <div class="panel-heading">MV HOT</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/03/14/8/c/d/d/1710403346333_268.jpg" alt=""
                             width="100%" />
                        <h4>An Ủi</h4>
                        <h5>JUN PHẠM x HAMLET TRƯƠNG</h5>
                    </div>
                    <div class="col-md-4">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/03/18/0/0/5/c/1710747820124_268.jpg" alt=""
                             width="100%" />
                        <h4>Chúng Ta Của Tương Lai</h4>
                        <h5>Sơn Tùng M-TP</h5>
                    </div>
                    <div class="col-md-4">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/04/01/1/8/d/5/1711958359661_640.jpg" alt=""
                             width="100%" />
                        <h4>SHEESH</h4>
                        <h5>BABYMONSTER</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/02/24/3/2/8/f/1708775688789_268.jpg" alt=""
                             width="100%" />
                        <h4>Yêu Nắm</h4>
                        <h5>BigDaddy, Emily</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/02/22/6/3/2/3/1708576350593_268.jpg" alt=""
                             width="100%" />
                        <h4>EASY</h4>
                        <h5>LE SSERAFIM</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://avatar-ex-swe.nixcdn.com/mv/2024/02/02/7/f/1/a/1706850595433_268.jpg" alt=""
                             width="100%" />
                        <h4>I Got You</h4>
                        <h5>TWICE</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://www.whatthekpop.com/wp-content/uploads/2023/08/jeon-somi-fast-forward.png"
                             alt="" width="100%" />
                        <h4>Fast Forward</h4>
                        <h5>JEON SOMI</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://cdn.home.vn/655360_70849780768609_1981358607958016?wt=a7f172aba8b44986d64f4887a83b7c72&rt=73516d759ad23ea885308cd10972d125"
                             alt="" width="100%" />
                        <h4>Attention</h4>
                        <h5>NewJeans</h5>
                    </div>
                    <div class="col-md-2">
                        <img src="https://i.ytimg.com/vi/XsX3ATc3FbA/maxresdefault.jpg" alt="" width="100%" />
                        <h4>Boy With Luv</h4>
                        <h5>BTS</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    <!-- footer -->
    <div class="nct-footer-wrapper">
        <div class="footer">
            <div class="t-list-cooperation">
                <div class="t-footer-container">
                    <p class="t-title-cooperation">Liên kết và hợp tác</p>
                    <div class="t-box-list-cooperation">
                        <div class="sponsor-slider">
                            <div class="sponsor-slide">
                                <div class="sponsor-item">
                                    <a href="https://www.universalmusic.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/1-new.png"
                                             alt="Sponsor 1">
                                    </a>
                                </div>
                                <div class="sponsor-item">
                                    <a href="https://www.sonymusic.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/2-new.png"
                                             alt="Sponsor 2">
                                    </a>
                                </div>
                                <!-- Thêm các nhà tài trợ khác tại đây -->
                                <div class="sponsor-item">
                                    <a href="https://www.acrcloud.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/7-new.png"
                                             alt="Sponsor 3">
                                    </a>
                                </div>

                                <div class="sponsor-item">
                                    <a href="https://www.wmg.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/17.png" alt="Sponsor 4">
                                    </a>
                                </div>

                                <div class="sponsor-item">
                                    <a href="http://www.ygplus.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/19.png" alt="Sponsor 5">
                                    </a>
                                </div>

                                <div class="sponsor-item">
                                    <a href="https://www.believemusic.com/" target="_blank" rel="nofollow">
                                        <img src="https://stc-id.nixcdn.com/v11/images/footer/9.png" alt="Sponsor 6">
                                    </a>
                                </div>


                            </div>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="t-footer-container">
        <div class="t-footer">
            <div class="t-navigation">
                <p class="t-title">Hỗ trợ</p>
                <ul class="t-list-navi">
                    <li><a href="#">- Trợ giúp</a></li>
                    <li><a href="#">- Sơ Đồ</a></li>
                    <li><a href="#">- Tuyển Tập</a></li>
                    <li><a href="#">- NCCI</a></li>
                    <li><a href="#">- Liên hệ quảng cáo</a></li>
                    <li><a href="#">- Chính sách bảo mật</a></li>
                    <li><a href="#">- Chính sách SHTT</a></li>
                    <li><a href="#">- Thỏa thuận sử dụng</a></li>
                </ul>
            </div>
            <div class="t-navigation">
                <p class="t-title">Sản phẩm khác</p>
                <ul class="t-list-navi">

                    <li><a href="#">- Mobile App</a></li>
                    <li><a href="#">- Mobile Web</a></li>
                    <li><a href="#">- Smart TV</a></li>
                    <li><a href="#">- Desktop</a></li>
                    <li><a href="#">- Dịch vụ 3G</a></li>
                    <li><a href="#">- NCT Corp</a></li>
                    <li><a href="#">- Tuyển dụng</a></li>
                </ul>
            </div>
            <div class="t-navigation last">
                <p class="t-title in-col">Kết nối với chúng tôi</p>
                <div style="width: 100%; float: left; margin-bottom: 16px">
                    <a href="https://www.facebook.com/NhacCuaTuiOfficial" rel="nofollow" target="_blank"
                       title="Facebook">
                        <img class="ic_tsocial"
                             src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_facebook.png" alt="facebook" />
                    </a>
                 
                    <a href="https://zalo.me/4060780154085925782" rel="nofollow" target="_blank" title="Zalo">
                        <img class="ic_tsocial last" src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_zalo.png"
                             alt="" />
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=ht.nct&hl=vi" rel="nofollow"
                           target="_blank" title="Google Play">
                            <img class="ic_tdownload"
                                 src="https://stc-id.nixcdn.com/v11/images/footer/t_google_play.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://apps.apple.com/vn/app/nhaccuatui-find-mp3-music/id1210763463" rel="nofollow"
                           target="_blank" title="App Store">
                            <img class="ic_tdownload"
                                 src="https://stc-id.nixcdn.com/v11/images/footer/t_app_store.png" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="http://cdc.hispace.hicloud.com/000000fC" rel="nofollow" target="_blank"
                           title="App Gallery">
                            <img class="ic_tdownload last"
                                 src="https://stc-id.nixcdn.com/v11/images/footer/t_appgallery.png" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <script src="library/jquery/jquery.min.js"></script>
    <script src="library/bootstrap/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>